.chart-container {
    /* width: 800px; */
    height: 400px;
    .chart-container {
      background: linear-gradient(114.72deg, rgba(255, 255, 255, 0.0936) -51.38%, 
                  rgba(255, 255, 255, 0) 62.84%, 
                  rgba(196, 196, 196, 0) 100.12%);
  }
  
  }

  .tv-lightweight-charts{
    /* width: 935px!important; */
  }
  .chart-container{
    width: 100%;
  }



  