body {
  margin: 0;
  font-family: 'Helvetica', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code{
  color: #F2F2F2;
  
}
*{
  letter-spacing: 0.5px;
}
@font-face {
  font-family: "PilatWide";
  src: url("./fonts/pilatWide/PilatWide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PilatWide";
  src: url("./fonts/pilatWide/PilatWide-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("./fonts/helvetica/Helvetica-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}